---
layout: bootcamp
root: .
venue: Next-Generation Sequencing
address: Palais de Congres, Montreal, Quebec
country: Canada
humandate: Apr 14, 2014
humantime: 9:00 am - 4:30 pm
startdate: 2014-04-14
latlng: 45.530677,-73.624497
registration: open
instructor: ["Titus Brown"]
contact: admin@software-carpentry.org
eventbrite: 10151618765
---
<h2>General Information</h2>

<p>
  <strong>What:</strong>
  This workshop is a master class in next-generation sequencing
  based on those run at <a href="http://bioinformatics.msu.edu/ngs-summer-course-2013">Michigan State University</a>
  for the past several summers.
</p>

<p>
  <strong>Who:</strong>
  The course is aimed at postgraduate students and other scientists
  who are familiar with basic concepts in both programming and bioinformatics.
  <em>Note that the workshop is open to everyone, not just PyCon attendees.</em>
</p>

{% if page.latlng %}
<p>
  <strong>Where:</strong>
  {{ page.address }}.
  Get directions with
  <a href="http://www.openstreetmap.org/?mlat={{ page.latlng | replace:',','&mlon=' }}&zoom=16">OpenStreetMap</a>
  or
  <a href="http://maps.google.com/maps?q={{ page.latlng }}">Google Maps</a>.
</p>
{% endif %}

<p>
  <strong>Requirements:</strong>
  Participants must bring a laptop with a few specific software packages installed
  (listed below).
</p>

<p>
  <strong>Contact</strong>:
  Please mail
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for more information.
</p>

{% if page.instructor %}
<p>
  <strong>Instructors:</strong>
  {{page.instructor | join: ', ' %}}
</p>
{% endif %}

{% if page.eventbrite %}
<iframe src="http://www.eventbrite.com/tickets-external?eid={{page.eventbrite}}&ref=etckt" frameborder="0" height="250" width="100%" scrolling="auto"></iframe>
{% endif %}

<h2>Sponsors</h2>

    <p>
    <a href="https://www.enthought.com/"><img src="./img/orgs/enthoughtPyCon.png" alt="Enthought" /></a>
    </p>
    <p>
    Our thanks to <a href="https://www.enthought.com/">Enthought</a> for their
    generous sponsorship of this bootcamp.
    </p>

<hr/>

<h2>Setup</h2>

<p>
  To participate in a Software Carpentry bootcamp, 
  you will need working copies of certain software packages.
  Please make sure to install everything
  (or at least to download the installers)
  <em>before</em> the start of your bootcamp.
</p>
